//* General*/
.fondos{
    background-image: url("../img/nature1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background-color: rgb(19, 18, 18);
}
.titulo{
    text-align: center;
    color: lightyellow;
    font-size: 50px;
}


/* login*/

.img-container{
   margin-left: -230px;
   margin-bottom: 50px; 
}

.container-login{
    background: rgba(0,0,0,-.1);
    border-radius: 20px;
    border: 5px;
    box-shadow: 0 0 30px rgba(253, 253, 253, 0.568) ;
    text-align: center;
   
    padding: 20px;
    margin-top: 100px;
    color: white;
}

.logo{
    margin-left: 225px;
    position: center;
    width: 150px;
}

/* inicio*/

.img-header{
    margin-left: 350px;
    height: 100%;
}

.img-navbar{
    width: 50px;
    border-radius: 50px;
}

.container-body{
    background-color: rgb(19, 18, 18);
}

.bienvenida{
 
    margin-top: 100px;
    text-align: center;
    color: white;

}

.description{
    
    margin-top: 100px;
    text-align: center;
    color: white;
    margin-bottom: 150px;
}

.description-header{
    text-align: left;
    border-radius: 4px;
    color: white;
}

.page-footer{
    margin-top: 150px;
    background-color: grey;
}

/* Carga */
.titulos{
    color: white;
    margin-bottom: 50px;
}
.container-carga{
    background: rgba(0,0,0,-.1);
    border-radius: 20px;
    border: 5px;
    box-shadow: 0 0 30px rgba(6, 170, 247, 0.568) ;
    margin-top: 50px;
    text-align: center;
    color: honeydew;
}

.description-carga{
    margin-top: 100px;
    text-align: center;
    border-radius: 4px;
    color: white;
}

.form-group-clave{
    margin-bottom: 25px;
}
/* Canje */

.container-canje{
    background: rgba(0,0,0,-.1);
    border-radius: 20px;
    border: 5px;
    box-shadow: 0 0 30px rgba(15, 167, 255, 0.986) ;
    margin-top: 150px;
    text-align: center;
    color: honeydew;
}


